@import "./src/assets/styles/base.scss";

.refueling-data {
  @include flex(flex, center, center, row, static, wrap);
}

.new-history-entry-button {
  position: fixed;
  @include position(auto, 10px, 60px, auto);
  z-index: 1;
}

.sort-modal-button {
  position: fixed;
  @include position(auto, 10px, 10px, auto);
  z-index: 1;
}
