<form [formGroup]="costSimulationForm" autocomplete="off">
    <div class="form-input">
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.averageFuelConsumption"
                   formControlName="averageFuelConsumption"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="costSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('averageFuelConsumption').hasError('min')
                   && !costSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('averageFuelConsumption').hasError('floatNumbersOnly')
                   && !costSimulationForm.get('averageFuelConsumption').hasError('min')
                   && !costSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.distanceToGo"
                   formControlName="distanceToGo"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="costSimulationForm.get('distanceToGo').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('distanceToGo').hasError('min')
                   && !costSimulationForm.get('distanceToGo').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('distanceToGo').hasError('floatNumbersOnly')
                   && !costSimulationForm.get('distanceToGo').hasError('min')
                   && !costSimulationForm.get('distanceToGo').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.fuelCostPerUnit"
                   formControlName="costPerUnit"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="costSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('costPerUnit').hasError('min')
                   && !costSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="costSimulationForm.get('costPerUnit').hasError('floatNumbersOnly')
                   && !costSimulationForm.get('costPerUnit').hasError('min')
                   && !costSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-output">
        <p *ngIf="fuelConsumption">Niezbędna ilość paliwa:</p>
        <output *ngIf="fuelConsumption">{{ fuelConsumption.toFixed(2) }} <span>l</span></output>
        <p *ngIf="fuelCost">Koszt przejechania {{ costSimulationForm.get('distanceToGo').value }} km:</p>
        <output *ngIf="fuelCost">{{ fuelCost.toFixed(2) }} <span>zł</span></output>
    </div>
</form>
