<app-form-header *ngIf="!entryData">new entry</app-form-header>
<app-form-header *ngIf="entryData">edit entry</app-form-header>
<mat-dialog-content align="center">
  <form [formGroup]="refuelingForm">
    <mat-form-field>
      <input formControlName="date" matInput [max]="today" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
      <mat-error *ngIf="refuelingForm.get('date').hasError('required') && !refuelingForm.get('date').hasError('matDatepickerParse')">This field is required</mat-error>
      <mat-error *ngIf="refuelingForm.get('date').hasError('matDatepickerParse')">Invalid date format</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false">
      <input formControlName="mileage"
             matInput
             type="number"
             required
             placeholder="Mileage">
      <mat-error *ngIf="refuelingForm.get('mileage').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="refuelingForm.get('mileage').hasError('min')
                   && !refuelingForm.get('mileage').hasError('required')">The minimum value is 1</mat-error>
      <mat-error *ngIf="refuelingForm.get('mileage').hasError('integerNumbersOnly')
                   && !refuelingForm.get('mileage').hasError('min')
                   && !refuelingForm.get('mileage').hasError('required')">Only numbers are allowed</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false">
      <input formControlName="amountOfFuel"
             matInput
             type="number"
             required
             appCommaToDot
             placeholder="Amount of fuel">
      <mat-error *ngIf="refuelingForm.get('amountOfFuel').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="refuelingForm.get('amountOfFuel').hasError('min')
                   && !refuelingForm.get('amountOfFuel').hasError('required')">The minimum value is 1</mat-error>
      <mat-error *ngIf="refuelingForm.get('amountOfFuel').hasError('floatNumbersOnly')
                   && !refuelingForm.get('amountOfFuel').hasError('min')
                   && !refuelingForm.get('amountOfFuel').hasError('required')">Only numbers are allowed</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false">
      <input formControlName="fuelCostPerUnit"
             matInput
             type="number"
             required
             appCommaToDot
             [placeholder]="(storageService.applicationSettings$ | async)?.metricUnits === 'PL' ? 'Fuel cost per  liter' : 'Fuel cost per gallon'">
      <mat-error *ngIf="refuelingForm.get('fuelCostPerUnit').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="refuelingForm.get('fuelCostPerUnit').hasError('min')
                   && !refuelingForm.get('fuelCostPerUnit').hasError('required')">The minimum value is 1</mat-error>
      <mat-error *ngIf="refuelingForm.get('fuelCostPerUnit').hasError('floatNumbersOnly')
                   && !refuelingForm.get('fuelCostPerUnit').hasError('min')
                   && !refuelingForm.get('fuelCostPerUnit').hasError('required')">Only numbers are allowed</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false">
      <input formControlName="fuelCost"
             matInput
             type="number"
             required
             appCommaToDot
             placeholder="Fuel total cost">
      <mat-error *ngIf="refuelingForm.get('fuelCost').hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="refuelingForm.get('fuelCost').hasError('min')
                   && !refuelingForm.get('fuelCost').hasError('required')">The minimum value is 1</mat-error>
      <mat-error *ngIf="refuelingForm.get('fuelCost').hasError('floatNumbersOnly')
                   && !refuelingForm.get('fuelCost').hasError('min')
                   && !refuelingForm.get('fuelCost').hasError('required')">Only numbers are allowed</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button type="submit"
          [disabled]="refuelingForm.invalid"
          (click)="saveEntry()"
          mat-raised-button color="primary">save</button>
  <button type="button" mat-raised-button mat-dialog-close color="warn">abort</button>
</mat-dialog-actions>
