<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calculator">
        <mat-icon>local_gas_station</mat-icon>
        <ion-label>Kalkulator</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="data">
        <mat-icon>history</mat-icon>
        <ion-label>Historia</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="car-info">
        <mat-icon>directions_car</mat-icon>
        <ion-label>Dane</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="about">
        <mat-icon>info</mat-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
