<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calculator">
        <mat-icon>local_gas_station</mat-icon>
        <ion-label>Calculate</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="my-cars">
        <mat-icon>directions_car</mat-icon>
        <ion-label>My cars</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <mat-icon>settings</mat-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
