<form [formGroup]="rangeSimulationForm" autocomplete="off">
    <div class="form-input">
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.averageFuelConsumption"
                   formControlName="averageFuelConsumption"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="rangeSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('averageFuelConsumption').hasError('min')
                   && !rangeSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('averageFuelConsumption').hasError('floatNumbersOnly')
                   && !rangeSimulationForm.get('averageFuelConsumption').hasError('min')
                   && !rangeSimulationForm.get('averageFuelConsumption').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.fuelCost"
                   formControlName="fuelCost"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="rangeSimulationForm.get('fuelCost').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('fuelCost').hasError('min')
                   && !rangeSimulationForm.get('fuelCost').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('fuelCost').hasError('floatNumbersOnly')
                   && !rangeSimulationForm.get('fuelCost').hasError('min')
                   && !rangeSimulationForm.get('fuelCost').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="false">
            <input [placeholder]="formPlaceholder.fuelCostPerUnit"
                   formControlName="costPerUnit"
                   matInput
                   required
                   type="number">
            <mat-error
                    *ngIf="rangeSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.required }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('costPerUnit').hasError('min')
                   && !rangeSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.minimumValue }}</mat-error>
            <mat-error *ngIf="rangeSimulationForm.get('costPerUnit').hasError('floatNumbersOnly')
                   && !rangeSimulationForm.get('costPerUnit').hasError('min')
                   && !rangeSimulationForm.get('costPerUnit').hasError('required')">{{ validatorPlaceholder.numbersOnly }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-output">
        <p *ngIf="amountOfFuel">Po zatankowaniu</p>
        <output *ngIf="amountOfFuel">{{ amountOfFuel.toFixed(2) }} <span>litrów paliwa</span></output>
        <p *ngIf="range">Przewidywany zasięg to</p>
        <output *ngIf="range">{{ range.toFixed(2) }} <span>km</span></output>
    </div>
</form>
