<ion-header>
    <ion-toolbar>
        <mat-icon slot="start">info</mat-icon>
        <ion-title slot="start">About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="about-container">
        <div class="about-left">
            <p><strong>Author:</strong> Grzegorz Kniażuk</p>
            <p><strong>Contact:</strong> grzegorz.kniazuk@gmail.com</p>
            <p><strong>App version:</strong> 1.0.0 / 2018</p>
            <ul>Used technologies
                <li>HTML5 & Sass</li>
                <li>TypeScript 3</li>
                <li>Angular 7 & Angular Material</li>
                <li>Ionic 4</li>
                <li>RxJS</li>
            </ul>
        </div>
        <div class="about-right">
            <p>
                <a href="https://github.com/grzegorzKniazuk/ionic-fuel-calculator"><img
                        src="./../../../../assets/icon/github.png" alt="github"></a>
            </p>
            <p>Source code on GitHub repository</p>
        </div>
    </div>
</ion-content>
