.toast-success {
  background: $leaf;
  color: $white;
}

.toast-error {
  background: $danger;
  color: $white;
}

.mat-dialog-container {
  overflow: visible !important;
  padding-top: 0 !important;
}

.mat-snack-bar-handset {
  margin-bottom: 60px !important;
}

button:disabled {
  cursor: not-allowed;
}

mat-tab-header {
  position: absolute;
  left: -15px;
  top: -10px;
  width: 110%;
}

mat-error {
  @include font('ultra-small');
  margin-top: -8px;
}

mat-hint {
  @include font('ultra-small');
  margin-top: -8px;
  margin-bottom: 18px;
  user-select: none;
}

