<ion-header>
  <ion-toolbar>
    <mat-icon slot="start">settings</mat-icon>
    <ion-title slot="start">Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding [formGroup]="settingsForm">
  <strong>Metric units</strong>
  <mat-radio-group label="after" formControlName="metricUnits">
    <mat-radio-button name="metricUnits" value="US">Miles and gallons</mat-radio-button>
    <mat-radio-button name="metricUnits" value="PL">Kilometers and litres</mat-radio-button>
  </mat-radio-group>
  <strong>Money units</strong>
  <mat-radio-group label="after" formControlName="moneyUnits">
    <mat-radio-button name="moneyUnits" value="euro">euro</mat-radio-button>
    <mat-radio-button name="moneyUnits" value="dollar">dollar</mat-radio-button>
    <mat-radio-button name="moneyUnits" value="pln">pln</mat-radio-button>
    <mat-radio-button name="moneyUnits" value="pound">pound</mat-radio-button>
  </mat-radio-group>
</ion-content>
